<p>
    One of our "Love Stories"...
</p>

<p>
    Due to an abusive situation, a mother of three had to leave the residence and is currently living in her car.
</p>

<p>
    She was faced with the reality that this was no way to raise children so she reluctantly, but voluntarily, gave 
    them over to foster care. This was very emotional for her to talk about, but she was open and receptive to prayer. 
    Love INC was able to help her with a laundry voucher and signed her up with a parenting class that is faith based.
</p>

<p>
    While she is waiting for housing, she has started seeking employment.  She is trying to find suitable housing for 
    her and the children. She misses them. Please be in prayer for this situation and that she can find housing soon 
    so she can be reunited with her children.
</p>