<h2>Interested in volunteering at Love INC?</h2>

<section>
    <p>
        There are many opportunities to volunteer both in the office and outside 
        (taking items to those in need, running errands, etc.) that can be done by volunteers.
    </p>
    <p>
        To begin the process of becoming a Love INC volunteer, please call the Volunteer 
        Coordinator to hear about different ways that you can help others thru Love INC.
    </p>
    <h4>(360)748-8611 ext 203</h4>
    <p>
        In addition, you will be asked to read the Affirmation of Faith (below), as well 
        as to complete the Confidentiality/background form (also below). 
    </p>
    <p>
        These forms will ask for personal information for purposes of matching volunteers 
        with the duties at Love INC of Lewis County, which is a non-profit organization.
    </p>
    <a class="link-button" href="/documents/volunteer-application.pdf" download>
        <button>Download Volunteer Application</button>
    </a>
</section>

<section class="grey">
    <p>1. Affirm your Agreement with the following:</p>
    <h3>LOVE INC Statement of Faith </h3>
    <ul>
        <li>I believe in God, the Father Almighty, Creator of heaven and earth.</li>
        <li>I believe in Jesus Christ, His only Son, our Lord.</li>
        <li>He was conceived by the power of the Holy Spirit and born of the Virgin Mary.</li>
        <li>He suffered under Pontius Pilate, was crucified, died and was buried.</li>
        <li>On the third day, He rose again.</li>
        <li>He ascended into Heaven and is seated at the right hand of the Father.</li>
        <li>He will come again to judge the living and the dead.</li>
        <li>
            I believe in the Holy Spirit, the holy Church universal, the communion of the saints, 
            the forgiveness of sins, the resurrection of the body, and the life everlasting. Amen.
        </li>
        <li>
            ADDITIONALLY, I believe that the only way to salvation is through a personal relationship 
            with Jesus Christ, as Lord and Savior. AND, I believe the Bible to be the inspired, the only 
            infallible, authoritative Word of God.
        </li>
    </ul>
    <p>
        You will be asked to add a short paragraph of your personal testimony in the space provided and 
        to type your name and the date in fields provided. This will affirm that you personally agree with 
        the above Christian Doctrine and that you endeavor to conduct your life in accordance with these truths.
    </p>
    <p>
        You also affirm that while sharing your Christian testimony or beliefs with anyone, you strive to serve as 
        a representative of Love INC,  and that you will do so in view of these basic Scriptural concepts.
    </p>
    <h3>Statement of Faith Agreement</h3>
    <div class="form">
        <p>Fields marked with * are required to be filled.</p>
        <h3>Personal Testimony</h3>
        <textarea id="testimony" placeholder="Please provide a brief personal testimony"></textarea>
        <h3>Statement of Faith Electronic Signature*</h3>
        <input type="text" id="faith-signature" placeholder="Full Name">
        <h3>Statement of Faith Signature Date*</h3>
        <input type="date" id="faith-date">
    </div>
</section>

<section>
    <p>2. Agree to Love INC's Confidentiality Policy and a Background Check</p>
    <h3>LOVE INC Confidentiality Agreement</h3>
    <p>All volunteers are required to sign a confidentiality agreement before working with any clients.</p>
    <p>
        We regard our positions and ministries as a sacred trust and each client as valuable. Therefore, we do not 
        discuss client matters with those not involved in the helping process.
    </p>
    <p>
        By typing your name and date in the fields provided for the Confidentiality Agreement, you indicate you will 
        protect the confidentiality of all individuals who may request service through Love, INC.
    </p>
    <p>
        You agree not to disclose or discuss information regarding any client, or client's circumstances, except by 
        permission of the client, to any unauthorized person or persons outside of your sphere of Love INC service.
    </p>
</section>

<section class="grey">
    <h3>Permission for LOVE INC to do a Background Check</h3>
    <p>
        By filling out the information needed for a Background Check, you understand and give your permission for Love 
        INC to perform a background check on you for the last ten years in Washington State.
    </p>
    
    <div class="form">
        <p>Fields marked with * are required to be filled.</p>
        <h3>Name*</h3>
        <div class="row">
            <input type="text" id="first-name" placeholder="First Name">
            <input type="text" id="last-name" placeholder="Last Name">
        </div>
        <h3>Phone</h3>
        <input type="tel" id="telephone">
        <h3>Email</h3>
        <input type="email" id="email">
        <h3>Address</h3>
        <input type="text" id="address" placeholder="Address">
        <input type="text" id="city" placeholder="City">
        <input type="text" id="state" placeholder="State">
        <input type="text" id="zip" placeholder="Zip Code">
        <input type="text" id="country" placeholder="United States" value="United States">
        <h3>Date of Birth</h3>
        <input type="date" id="dob">
        <h3>Place of Birth</h3>
        <input type="text" id="pob">
        <h3>What church do you attend?</h3>
        <input type="text" id="church">
        <h3>Are you a member of that church?</h3>
        <div class="row">
            <label for="yes">
                Yes
                <input type="radio" id="yes" name="member" value="yes">
            </label>
            <label for="no">
                No
                <input type="radio" id="no" name="member" value="no">
            </label>
        </div>
        <h3>If yes, for how many years have you been a member?</h3>
        <input type="number" id="years">
        <h3>Pastor's Name (so that we can contact your Pastor)</h3>
        <input type="text" id="pastor" placeholder="First and Last Name">
        <h3>Reference 1 (not family)</h3>
        <input type="text" id="ref1" placeholder="First and Last Name">
        <input type="tel" id="ref1-phone" placeholder="Phone">
        <h3>Reference 2 (not family)</h3>
        <input type="text" id="ref2" placeholder="First and Last Name">
        <input type="tel" id="ref2-phone" placeholder="Phone">
        <h3>Reference 3 (not family)</h3>
        <input type="text" id="ref3" placeholder="First and Last Name">
        <input type="tel" id="ref3-phone" placeholder="Phone">
        <h3>Reason for Volunteering</h3>
        <textarea id="reason" placeholder="Why do you want to volunteer at Love INC?"></textarea>
        <h3>Education</h3>
        <select id="education">
            <option value="none">None</option>
            <option value="high-school">High School</option>
            <option value="some-college">Some College</option>
            <option value="associates">Associates</option>
            <option value="bachelors">Bachelors</option>
            <option value="masters">Masters</option>
            <option value="doctorate">Doctorate</option>
        </select>
        <h3>Brief Employment History</h3>
        <textarea id="employment" placeholder="Please provide a brief employment history"></textarea>
        <h3>Military Service?</h3>
        <div class="row">
            <label for="yes-military">
                Yes
                <input type="radio" id="yes-military" name="military" value="yes">
            </label>
            <label for="no-military">
                No
                <input type="radio" id="no-military" name="military" value="no">
            </label>
        </div>
        <h3>Interests / Hobbies</h3>
        <textarea id="interests" placeholder="What are your interests and hobbies?"></textarea>
        <h3>To whom do you go for help/support in difficult times?</h3>
        <textarea id="support" placeholder="Who do you go to for help and support in difficult times?"></textarea>
    </div>
</section>

<section>
    <h3>Background Check Agreement</h3>
    <div class="form">
        <p>Fields marked with * are required to be filled.</p>
        <h3>First Name*</h3>
        <input type="text" id="background-first" placeholder="First Name">
        <h3>Middle Name</h3>
        <input type="text" id="background-middle" placeholder="Middle Name">
        <h3>Last Name*</h3>
        <input type="text" id="background-last" placeholder="Last Name">
        <h3>Alias / Maiden Name</h3>
        <input type="text" id="background-alias" placeholder="Alias / Maiden Name">
        <h3>Date of Birth*</h3>
        <input type="date" id="background-dob">
        <h3>Gender on Birth Certificate*</h3>
        <div class="row">
            <label for="male">
                Male 
                <input type="radio" id="male" name="gender" value="male">
            </label>
            <label for="female">
                Female
                <input type="radio" id="female" name="gender" value="female">
            </label>
        </div>
        <h3>Background Check Electronic Signature*</h3>
        <input type="text" id="background-signature" placeholder="Full Name">
        <h3>Background Check Signature Date*</h3>
        <input type="date" id="background-date">
        
        <!-- Captcha -->
        
        <button class="submit" onclick="submitApplication()">Submit</button>
    
        <p id="alert"></p>
    </div>
</section>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();

    const submitApplication = async function() {
        let firstName = $("#first-name").val();
        let lastName = $("#last-name").val();
        let telephone = $("#telephone").val();
        let email = $("#email").val();
        let address = $("#address").val();
        let city = $("#city").val();
        let state = $("#state").val();
        let zip = $("#zip").val();
        let country = $("#country").val();
        let dob = $("#dob").val();
        let pob = $("#pob").val();
        let church = $("#church").val();
        let member = $("input[name='member']:checked").val();
        let years = $("#years").val();
        let pastor = $("#pastor").val();
        let ref1 = $("#ref1").val();
        let ref1Phone = $("#ref1-phone").val();
        let ref2 = $("#ref2").val();
        let ref2Phone = $("#ref2-phone").val();
        let ref3 = $("#ref3").val();
        let ref3Phone = $("#ref3-phone").val();
        let reason = $("#reason").val();
        let education = $("#education").val();
        let employment = $("#employment").val();
        let military = $("input[name='military']:checked").val();
        let interests = $("#interests").val();
        let support = $("#support").val();

        let testimony = $("#testimony").val();
        let faithSignature = $("#faith-signature").val();
        let faithDate = $("#faith-date").val();

        let backgroundFirst = $("#background-first").val();
        let backgroundMiddle = $("#background-middle").val();
        let backgroundLast = $("#background-last").val();
        let backgroundAlias = $("#background-alias").val();
        let backgroundDob = $("#background-dob").val();
        let backgroundGender = $("input[name='gender']:checked").val();
        let backgroundSignature = $("#background-signature").val();
        let backgroundDate = $("#background-date").val();

        // if the fields marked with * are filled out
        if (firstName && lastName && faithSignature && faithDate 
        && backgroundFirst && backgroundLast && backgroundDob 
        && backgroundGender && backgroundSignature && backgroundDate) {
            let res = await base.do("submit-application", {
                route: "/the-front/volunteer-signup",
                firstName: firstName,
                lastName: lastName,
                telephone: telephone,
                email: email,
                address: address,
                city: city,
                state: state,
                zip: zip,
                country: country,
                dob: dob,
                pob: pob,
                church: church,
                member: member,
                years: years,
                pastor: pastor,
                ref1: ref1,
                ref1Phone: ref1Phone,
                ref2: ref2,
                ref2Phone: ref2Phone,
                ref3: ref3,
                ref3Phone: ref3Phone,
                reason: reason,
                education: education,
                employment: employment,
                military: military,
                interests: interests,
                support: support,
                testimony: testimony,
                faithSignature: faithSignature,
                faithDate: faithDate,
                backgroundFirst: backgroundFirst,
                backgroundMiddle: backgroundMiddle,
                backgroundLast: backgroundLast,
                backgroundAlias: backgroundAlias,
                backgroundDob: backgroundDob,
                backgroundGender: backgroundGender,
                backgroundSignature: backgroundSignature,
                backgroundDate: backgroundDate
            });
            
            if (res.status == "success") $("#alert").text(res.data);
            else $("#alert").text("There was an error submitting your application. Please try again later.");
        } else {
            $("#alert").text('Please fill out all required fields.');
        }
    }
</script>