<div class="info">
    <h2>Resources</h2>

    <h3>Domestic Violence</h3>
    <p>
        Hope Alliance (formerly The Human Response Network) works with survivors of domestic 
        violence and sexual assault. Our crisis line is available 24 hours a day, 7 days a week: 
        360.748.6601 or toll free 1.800.244.7414. 815 W Main, Centralia, WA 98531
    </p>
    
    <h3>Food Banks</h3>
    <ul>
        <li>
            <h5>Hub City Ministry</h5>
            <p>416 N Tower, Centralia</p>
            <p>Last Saturday of each month</p>
            <p>9:00am</p>
        </li>
        <li>
            <h5>Gather Church Cafe</h5>
            <p>104 S Rock St, Centralia</p>
            <p>Thursdays 5:30pm-6:30pm</p>
        </li>
        <li>
            <h5>God's Portion</h5>
            <p>1025 "F" St, Centralia</p>
            <p>Wednesday 5pm - 7pm</p>
            <p>Saturday 3pm</p>
        </li>
    </ul>
    <ul>
        <li>
            <h5>Salvation Army</h5>
            <p>303 N. Gold, Centralia</p>
            <p>Monday - Friday</p>
            <p>10:00 - 11:45am / 1pm - 3:45pm</p>
            <p>(360) 736-4339</p>
        </li>
        <li>
            <h5>Greater Chehalis Food Bank</h5>
            <p>750 SW 21st St, Chehalis</p>
            <p>10:00am - 2:00pm</p>
        </li>
        <li>
            <h5>Jackson Prairie</h5>
            <p>4227 Jackson Hwy, Chehalis</p>
            <p>Mondays 9am - 12pm</p>
        </li>
    </ul>
    <h3>Clothing Banks</h3>
    <ul>
        <li>
            <h5>Seventh Day Adventist Church</h5>
            <p>1607 Military Road, Centralia</p>
            <p>Wednesdays 11am-2pm</p>
        </li>
        <li>
            <h5>Gather Church Cafe</h5>
            <p>104 S Rock St, Centralia</p>
            <p>Tuesdays 9am - 4:30pm</p>
            <p>Thursdays 5pm</p>
        </li>
        <li>
            <h5>Socks in the City</h5>
            <p>Riverside Park, Centralia</p>
            <p>Wednesdays 5:30pm</p>
        </li>
    </ul>
    <ul>
        <li>
            <h5>Lewis County Gospel Mission</h5>
            <p>72 SW Chehalis Ave, Chehalis</p>
            <p>Monday - Fridat 10am - 2pm</p>
        </li>
        <li>
            <h5>Cornerstone</h5>
            <p>628 National Ave, Chehalis</p>
            <p>Thursdays 9:30am - 1pm</p>
        </li>
        <li>
            <h5>St. Vincent de Paul</h5>
            <p>Call (360) 623-1144</p>
            <p>Safeway gas cards</p>
            <p>food and toiletry boxes</p>
        </li>
    </ul>
    
    <h3>Housing Resources</h3>
    <ul>
        <li>
            <h5>Housing Resource Center of Lewis County</h5>
            <p>621 S Diamond St, Centralia</p>
            <p>Monday - Friday 9am - 4pm</p>
            <p>(360) 736-5140 during office hours</p>
            <p>(360) 269-6688 24-hour phone</p>
        </li>
        <li>
            <h5>Safe Family Ministries</h5>
            <p>Helping Women and Children</p>
            <p>Chehalis, WA</p>
            <p>(36) 740-1001</p>
        </li>
        <li>
            <h5>Veteran Housing</h5>
            <p>Veteran Families Housing Program</p>
            <p>Chehalis - Yard Birds Lot</p>
            <p>Every Tuesday 10am - 3pm</p>
            <p>(360) 423-0140 ext 96</p>
            <p>(866) 255-2799 toll free</p>
        </li>
    </ul>
    
    <h3>Local Employment Agencies</h3>
    <ul>
        <li>
            <h5>Labor Ready</h5>
            <p>(360) 807-8930</p>
        </li>
        <li>
            <h5>Express Employment</h5>
            <p>(360) 330-9050</p>
        </li>
        <li>
            <h5>American Work Group</h5>
            <p>(360) 345-1444</p>
        </li>
        <li>
            <h5>ASAP Chehalis</h5>
            <p>(360) 996-4271</p>
        </li>
    </ul>
    
    <h3>Medical / Mental Health / Addiction Recovery</h3>
    <ul>
        <li>
            <h5>Health & Hope Medical Outreach</h5>
            <p>Free Medical Clinic</p>
            <p>Tuesdays 5:30pm - 8:30pm</p>
            <p>1911 Cooks Hill Rd, Centralia</p>
            <p>(360) 623-1485</p>
            <a href="https://www.hhmo.org">www.hhmo.org</a>
        </li>
        <li>
            <h5>Core Health</h5>
            <p>Behavioral Health Services</p>
            <p>104 S Rock St, Centralia</p>
            <p>(360) 807-4929</p>
            <a href="https://www.corehealthservices.org">www.corehealthservices.org</a>
        </li>
        <li>
            <h5>Possibilities Pregnancy Clinic</h5>
            <p>1017 W Main St, Chehalis</p>
            <p>(360) 330-2229</p>
            <a href="https://www.findmypossibilities.org">www.findmypossibilities.org</a>
        </li>
    </ul>
    <ul>
        <li>
            <h5>Celebrate Recovery</h5>
            <p>A Christ-Centered 12 Step Program</p>
            <p>Great Foursquare Church</p>
            <p>3030 Borst Ave, Centralia</p>
            <p>(360) 736-0778</p>
            <p>EVERY Friday</p>
            <p>Dinner 6pm</p>
            <p>Group 7pm</p>
        </li>
        <li>
            <h5>American Behavioral Health Systems</h5>
            <a href="https://www.americanbehavioralhealth.org">www.americanbehavioralhealth.org</a>
            <p>1723 Kresky Ave, Centralia</p>
            <p>(360) 559-6201</p>
            <p>and</p>
            <p>500 SE Washington Ave, Chehalis</p>
            <p>(360) 748-4776</p>
        </li>
    </ul>
</div>

<div class="side">
    <h3>Furniture / Bedding / Firewood</h3>
    <h3>PLEASE NOTE--ALL REQUESTS TAKE AN AVERAGE OF 7-10 BUSINESS DAYS </h3>
    <p>(360) 748-8611, Intake ext. 204, Furniture ext. 205</p>
    <p>Call us for assistance with:</p>
    <ul>
        <li>Furniture</li>
        <li>Bedding</li>
        <li>Firewood (seasonal)</li>
        <li>Gas Voucher (must have valid driver's license and current car registration for the vehicle getting the gas)</li>
        <li>Grocery Vouchers (must have identification card)</li>
        <li>Laundry Vouchers (areas in Chehalis, Centralia and PeEll)</li>
    </ul>                                                                                                                        
    <h3>All CALLS ARE RETURNED IN ORDER THEY WERE RECEIVED--</h3>
    <p>Please do not leave multiple messages-Thank You</p>

    <h3>Christian Music Radio</h3>
    <img src="/img/kacs.png">
    <a href="https://www.kacs.org/listen-live">Click here for live broadcast</a>
</div>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>