<h2>Get Involved</h2>

<section>
    <h3>Serving with Smiles!</h3>
    <p>
        We are always looking for volunteers to work in various capacities throughout our organization. If you are interested 
        in learning more, please give us a call at (360) 748-8611. 
    </p>
    <p>
        It is such a joy to serve our community and our neighbors in need. Through the partnership with our local church affiliates, 
        <strong>Love in the Name of Christ</strong> is able to serve many needs and provide many referrals to our clients.
    </p>


    <p>
        Furniture Ministry is in need of volunteers to help with donating and moving furniture. 
        Your help would be a great blessing to Love INC and to the community!
    </p>
    <p>Currently the Love INC furniture truck picks-up and delivers furniture each Thursday from 10am-2pm.</p>
    <p>To contact Love INC Volunteer Coordinator, please call (360) 748-6811 ext 203.</p>
    <p>We would be honored to join with you in serving our community.</p>
</section>

<section>
    <h2>Love INC is in real need of the following:</h2>
    <hr>
    <p>Bedding - New or gently used/clean, full sets of Twin, Regular and Queen sheets</p>
    <p>Beds and frames - no hospital or king-sized beds</p>
    <p>Dressers - small or medium sized</p>
    <p>Couches - no double recliners</p>
    <p>Loveseat</p>
    <p>Recliners - no lift chairs</p>
    <p>Small tables and chairs</p>
    <br>
    <p>
        Please take photos (top, sides, etc.) of the item(s) you are offering up for donation and email 
        the photographs to loveincphotos@gmail.com.
    </p>
    <p>If you have questions, please call  (360) 748-8611 at leave a message at Ext. 205. </p>
    <p>
        Once the photographs have been received, Love INC can either arrange for the donated Items to be brought
        to the warehouse on Thursday(s), or if the pick up address is within the Chehalis/Centralia city limits,
        Love INC can also arrange to come and pick up the items, again only on Thursdays at this time. 
    </p>
</section>

<section>
    <h2>Pray it Forward</h2>
    <hr>
    <p>
        Pray it Forward provides a way to give a financial blessing to someone in need, with a gas/propane, food, 
        laundry voucher, or assistance in paying a portion of their utility bill or rent. Unique requests like 
        wheelchair ramps, prescription eye glasses or other concerns are also considered and require prayer for 
        direction and guidance. 
    </p>
    <p>
        As you submit your financial gift through our website, pray for the person-in-need who receives your assistance...
        that they will be blessed and touched by your generosity.  And in doing so, God will bless you both in a very special way.   
    </p>
</section>

<section>
    <h2>Volunteer Opportunities</h2>
    <hr>
    <p>
        Did you know that there is an organization in Lewis County serving those in need with essential items including furniture, 
        firewood, home repairs, food and gas as well as referrals to other organizations?
    </p>
    <p>
        You can be a part of that--Love In the Name of Christ's Mission is to "Mobilize Local Churches to Transform Lives and 
        Communities in the Name of Christ."
    </p>
    <p>
        <strong>Love in the Name of Christ</strong> is a Christian non-profit ministry dedicated to connecting local churches 
        with your neighbors who are seeking assistance. This doesn't automatically happen. We need your help!  
    </p>
    <p>
        We are seeking volunteers to provide services, compassion, continued prayer and financial partnership. We listen, 
        we pray, we love and we serve.
    </p>
    <p>What gift has God given you to share with others?</p>
    <p>If you are interested in being part of this exciting opportunity, call us at 360-748-8611 ext 203.</p>
    <p>We will be happy to talk with you about how you can help.</p>
    <p>Thank you and God bless you.</p>
</section>

<div class="side">
    <div class="buttons">
        <a id="donate" href="https://loveinclewiscounty.maxgiving.com/"><p>Donate</p></a>
        <a id="volunteer" href="/volunteer-signup"><p>Apply to be a Volunteer</p></a>
    </div>
    <p>Or print and mail completed application to PO Box 152 Chehalis, WA 98532</p>
</div>


<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>