<section>
    <div class="love-story">
        <% if (query.story) { %>
            <%- include(`./stories/${query.story}.ejs`) %>
        <% } %>
    </div>
</section>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>