.love-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 60px 20px;
}