<section>
    <div class="love-story">
        <% if (query.story) { %>
            <!-- add more cases to publish a story -->
            <% switch (query.story) { 
                case 'original': %>
                    <%- include(`./stories/${query.story}.ejs`); %>
                    <% break; 
                default: %>
                    <%- "<h3>Not Found</h3>" %>
                    <% break;
             } %>
        <% } %>
    </div>
</section>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>