<div class="info">
    <h2>Contact Us</h2>
    <hr>
    <p><strong>If you are in need of assistance, please call us at (360) 748-8611.</strong></p>

    <p>
        For any other business (<strong>not assistance</strong>) with <strong>Love INC</strong>, please fill out 
        the following form to send us an email.
    </p>

    <div class="form">
        <p>Fields marked with * are required to be filled.</p>
        <h3>Name*</h3>
        <input type="text" id="name" required>
    
        <h3>Email*</h3>
        <input type="email" id="email" required>
    
        <h3>Message*</h3>
        <textarea id="message" required></textarea>
    
        <h3>Phone*</h3>
        <input type="tel" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
    
        <!-- Captcha -->
    
        <button class="submit" onclick="submitMessage()">Submit</button>

        <p class="invisible" id="alert"></p>
    </div>
</div>

<div class="side">
    <h2>Love INC of Lewis County</h2>
    <p>PO Box 152</p>
    <p>Chehalis, WA 98532</p>
    <p>360-748-8611</p>
</div>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();

    const submitMessage = async function() {
        let name = $("#name").val();
        let email = $("#email").val();
        let message = $("#message").val();
        let phone = $("#phone").val();

        $("#alert").removeClass("invisible");
        if (name && email && message && phone) {
            let res = await base.do("submit-message", {
                route: "/the-front/contact",
                name: name,
                email: email,
                message: message,
                phone: phone
            });

            if (res.status == "success") $("#alert").text(res.data);
            else $("#alert").text("There was an error submitting your application. Please try again later.");
            $("#message").val("");
        } else {
            $("#alert").text('Please fill out all required fields.');
        }
    }
</script>