:root {
    --third-color: #f0f0f0;
    --fourth-color: #002647;    
}

/* update bg */
.hero {
    background: url('/img/Chehalis_l.jpg');
    background-size: cover;
    min-height: 60vh;
}

.hero * {
    color: var(--second-color);
}

.hero h2 {
    width: auto;
    max-width: var(--max-main-width);
    margin: 0;
    margin-bottom: 20px;
}

.hero>p {
    margin-bottom: 20px;
}

.trans {
    background: var(--third-color);
}

.news {
    background: var(--fourth-color);
    height: auto;
    padding: 0;
}

.Christ-centered {
    background: var(--main-color);
}

.Christ-centered * {
    color: var(--second-color);
}

.souper {
    background: url('/img/souper-poster.jpg') !important;
    background-size: cover !important;
    position: relative;
}

.donate-heart {
    width: 30%;
    height: auto;
    margin: 0 10px;
}

/* styles for screens under 1000px wide */
@media only screen and (max-width: 1000px) {
    .souper {
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
}