<style>
    <%- include('./home.css'); %>
</style>

<!-- Hero -->
<section class="hero">
    <div class="fade">
        <h2>Mobilizing the Church to Transform Lives</h2>
        <p class="central-info">
            This happens when local Christian churches unite in purpose in our 
            Lord Jesus Christ - fully engaged in 
            actively living out the Faith by lovingly 
            serving people in need in their communities.
        </p>
        <div class="row">
            <a class="external" href="/resources">View Resources</a>
        </div>
    </div>
</section>

<section class="row Christ-centered">
    <img src="/img/office/volunteers.webp" alt="" class="side left">
    <div class="half column">
        <h3>Love INC is Christ-Centered</h3>
        <p>
            All that we do and say must honor and glorify our Lord Jesus Christ. 
            We believe that churches are called to live and labor in the love of the Creator by doing, sharing 
            and growing in His goodness as they endeavor to reveal and share the love of Christ to others in all
            aspects of their lives.  (cf. Romans 12:2)
        </p>
        <div class="row">
            <a class="external" href="https://loveinclewiscounty.maxgiving.com/">Donate</a>
        </div>
        <p>Thank you for your generous support of this ministry in 2024.</p>
    </div>
</section>

<section class="row trans">
    <img src="/img/office/staff-and-board.webp" alt="" class="side right">
    <div class="half column">
        <h3>An Instrument of Transformation</h3>
        <p>
            The Scriptures urge us to not be conformed to the patterns of this world, but instead to be vessels of God’s
            purpose on earth.  Through the gifts given us, our actions, words and deeds become opportunities for ministry
            and leadership as God’s instruments through instruction, correction and guidance.  (cf. 2 Timothy 3:16-17; 
            Romans 12:1-2; 2 Corinthians 3:18)
        </p>
        <a class="external" href="/getInvolved">Join the Mission</a>
    </div>
</section>

<section class="news">
    <div class="cross-bg">
        <div class="stake">
            <div class="bar"></div>
        </div>
    </div>

    <div class="raised card-list">
        <div class="big-bottom card">
            <h5>Thank You Jim Holding!</h5>
            <p>
                Jim volunteered with Love INC for 20 years. We are grateful for his service 
                and dedication to the ministry.
            </p>
            <p>
                Click the link below to learn more about Jim's history of
                volunteer service on the Chronicle Newspaper.
            </p>
            <a target="_blank" class="external bottom-button" href="https://chronline.com/stories/longtime-love-inc-volunteer-retires-after-20-years-of-service,342417?">Read the Article</a>
        </div>

        <div class="card">
            <h5>Part of a Global Community</h5>
            <p>
                We seek out and grow relationships with local churches and the larger community around the world.  
                (cf. Matthew 28:18-20; Acts 1:8)
            </p>
            <p>Please keep praying for our neighbors in need. God Bless You!</p>
        </div>
    
        <!-- <div class="souper long card bottom-bumper">
            <a class="external bottom-button" href="/souper">Learn More Here</a>
        </div> -->
    
        <div class="card bottom-bumper">
            <h5>God Loves Us</h5>
            <!-- icon -->
            <p class="text">
                "For God so loved the world that he gave his one and only Son, 
                that whoever believes on him shall not perish, but have eternal life."
            </p>
            <p class="reference">- John 3:16</p>
            <!-- icon -->
            <a class="external bottom-button" href='/love-story?story=original'>Read a Love Story</a>
        </div>
    </div>
</section>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>