<style>
    <%- include('./home.css'); %>
</style>

<div class="buttons">
    <a id="donate" href="https://loveinclewiscounty.maxgiving.com/"><p>Donate</p></a>
    <a id="involve" href="/getInvolved"><p>Volunteer</p></a>
    <a id="contact" href="/contact"><p>Contact Us</p></a>
    <a id="about" href="/about"><p>About Us</p></a>
</div>


<div class="info">
    <h2>Home</h2>
    <hr>
    <br>
    <h3>Love INC Mission Statement</h3>
    <p>"Mobilize local churches to transform lives and communities in the Name of Christ." </p>
    <br>
    <br>
    <h3>Our Vision</h3>
    <p>
        To see Christian churches united in purpose and fully engaged in actively living out their faith by 
        lovingly serving people in need in their communities.
    </p>
    <br>
    <br>
    <h3>
        Our Vision Is Guided by the Belief that Love In The Name Of Christ (Love INC) Is:
        Christ-Centered
    </h3>
    <p>
        All that we do and say must honor and glorify our Lord Jesus Christ. 
         We believe that churches are called to live and labor in the love of the Creator by doing, sharing, 
         and growing in His goodness as they endeavor to reveal and share the love of Christ to others in all
          aspects of their lives.  (cf. Romans 12:2)
    </p>
    <br>
    <br>
    <h3>An Instrument of Transformation</h3>
    <p>
        The Scriptures urge us to not be conformed to the patterns of this world, but instead to be vessels of God’s
         purpose on earth.  Through the gifts given us, our actions, words and deeds become opportunities for ministry
          and leadership as God’s instruments through instruction, correction, and guidance.  (cf. 2 Timothy 3:16-17; 
          Romans 12:1-2; 2 Corinthians 3:18)
    </p>
    <br>
    <br>
    <h3>Part of a Global Community</h3>
    <p>
        We seek out and grow relationships with local churches and the larger community around the world.  
        (cf. Matthew 28:18-20; Acts 1:8)
    </p>
    <br>
    <p>
        One of our "Love Stories"...
    </p>
    <br>
    <p>
        Due to an abusive situation, a mother of three had to leave the residence and is currently living in her car.
    </p>
    <br>
    <p>
        She was faced with the reality that this was no way to raise children so she reluctantly, but voluntarily, gave 
        them over to foster care. This was very emotional for her to talk about, but she was open and receptive to prayer. 
        Love INC was able to help her with a laundry voucher and signed her up with a parenting class that is faith based.
    </p>
    <br>
    <p>
        While she is waiting for housing, she has started seeking employment.  She is trying to find suitable housing for 
        her and the children. She misses them. Please be in prayer for this situation and that she can find housing soon 
        so she can be reunited with her children.
    </p>
    <br>
    <br>
    <p>Please keep praying for our neighbors in need.</p>
    <br>
    <br>
    <p>God Bless You!</p>
</div>

<div class="side">
    <div class="quote">
        <!-- icon -->
        <p class="text">
            For God so loved the world that he gave his one and only Son, 
            that whoever believes on him shall not perish, but have eternal life.
        </p>
        <p class="reference">-John 3:16</p>
        <!-- icon -->
    </div>
    
    <div class="thanks">Thank you for your generous support of this ministry in 2022.</div>
</div>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>