<style>
    <%- include('./home.css'); %>
</style>

<!-- Hero -->
<section class="hero">
    <div class="fade">
        <h2>Uniting the Church to Help People in Need</h2>
        <p  class="central-info">
            The local church is God’s answer to community brokenness and a part of his plan of redemption and restoration. 
            That’s why we mobilize local churches to offer a holistic approach to caring for people in all areas of life: 
            spiritual, mental, emotional, and physical.
        </p>
        <div class="row">
            <a class="external" href="/getInvolved">Join the Mission</a>
            <a class="external" href="/dontate">Donate</a>
            <a class="external" href="/resources">Resources</a>
        </div>
    </div>
</section>

<!-- Mission and Vision -->
<section class="mission">
    <h3 class="bar from-left">OUR MISSION</h3>
    <p class="central-info">
        To mobilize local churches to transform lives and communities in the Name of Christ.
    </p>
    <h3 class="bar from-right">OUR VISION</h3>
    <p class="central-info">
        To see Christian churches united in purpose and fully engaged in actively living out their faith by lovingly 
        serving people in need in their communities.
    </p>
</section>

<section class="row Christ-centered">
    <img src="/img/logo.jpg" alt="" class="side left">
    <div class="half column">
        <h3>Love INC is Christ-Centered</h3>
        <p>
            All that we do and say must honor and glorify our Lord Jesus Christ. 
            We believe that churches are called to live and labor in the love of the Creator by doing, sharing 
            and growing in His goodness as they endeavor to reveal and share the love of Christ to others in all
            aspects of their lives.  (cf. Romans 12:2)
        </p>
    </div>
</section>

<section class="row trans">
    <img src="/img/logo.jpg" alt="" class="side right">
    <div class="half column">
        <h3>An Instrument of Transformation</h3>
        <p>
            The Scriptures urge us to not be conformed to the patterns of this world, but instead to be vessels of God’s
            purpose on earth.  Through the gifts given us, our actions, words and deeds become opportunities for ministry
            and leadership as God’s instruments through instruction, correction and guidance.  (cf. 2 Timothy 3:16-17; 
            Romans 12:1-2; 2 Corinthians 3:18)
        </p>
    </div>
</section>

<section class="reverse-card-list events">
    <div class="card">
        <h3>Super Souper Supper Benefit Event 2024</h3>
        <p>Fun</p>
        <p>Food</p>
        <p>Free Giveaways</p>
        <a class="external" href="/souper">Learn More Here</a>
    </div>
</section>

<section class="card-list news">
    <div class="card">
        <div class="quote">
            <!-- icon -->
            <p class="text">
                For God so loved the world that he gave his one and only Son, 
                that whoever believes on him shall not perish, but have eternal life.
            </p>
            <p class="reference">- John 3:16</p>
            <!-- icon -->
        </div>
        
        <div class="thanks">Thank you for your generous support of this ministry in 2022.</div>
    </div>

    <div class="card">
        <h3>Part of a Global Community</h3>
        <p>
            We seek out and grow relationships with local churches and the larger community around the world.  
            (cf. Matthew 28:18-20; Acts 1:8)
        </p>
    </div>

    <div class="card">
        <p>Please keep praying for our neighbors in need.</p>
        
        <p>God Bless You!</p>

        <a class="external" href="/love-story">Love Stories</a>
    </div>
</section>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>