:root {
    --main-color: rgb(58, 111, 190);
    --main-color-hover: rgb(74, 136, 230);
    --second-color: #f2f2f2;
    --second-color-hover: #bdbdbd;
    --shadow: 1px 5px 14px 1px rgba(0,0,0,0.55);

    --max-main-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.invisible {
    display: none !important;
}

body {
    margin: 0;
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    width: 100%;
    height: 130px;
    text-align: center;
    background: white;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}

a.link-button {
    text-decoration: none;
}

button {
    width: auto;
    height: auto;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    display: flex;
    justify-content: center;
}

button i {
    padding-top: 1px;
}

button:hover {
    background: var(--main-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

div.national {
    width: 100%;
    height: 55px;
    background: var(--main-color-hover);
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
}

div.national .logo-items {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

div.national .logo-items p {
    font-size: 16px;
}

div.national .logo-items a {
    font-weight: bold;
    font-size: 16px;
}

.logo-items img {
    height: 50%;
    width: auto;
    margin: 5px;
    margin-left: 15px;
}

div.national ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: auto;
    height: 100%;
    align-items: center;
    flex-direction: row;
}

div.national ul a {
    margin: 5px;
    margin-right: 30px;
    font-size: 16px;
}

div.national a {
    text-decoration: none;
    color: #f2f2f2;
}

nav {
    width: 100%;
    height: 80px;
    background-color: var(--second-color);
    padding: 0;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

nav #close-nav {
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: auto;
    height: 100%;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
}

nav ul a {
    border-radius: 10px 10px 0 0;
    margin: 1px;
    margin-top: 10px;
    margin-bottom: 0;
}

nav a {
    text-decoration: none;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: black;
    text-align: center;
}

nav a:hover {
    background-color: var(--second-color-hover);
}

nav #donate {
    background: var(--main-color);
    color: white;
    border-radius: 5px;
    margin: 15px;
    height: 50px;
}

nav #donate:hover {
    background: var(--main-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

nav a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav a p {
    padding: 20px;
}

img.hero {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

main {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    background: white;
    padding: 0;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

main #nav-button {
    display: none;
}

h2 {
    width: 100%;
    font-size: 30px;
    margin: 5px 0;
    margin-top: 40px;
}

h4 {
    width: 100%;
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
}

h5 {
    width: 100%;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}

p {
    width: 100%;
    font-size: 20px;
    margin: 5px 0;
}

a {
    font-size: 20px;
}

a.external {
    text-decoration: none;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}

a.external:hover {
    background: var(--main-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

h3 {
    font-size: 23px;
    margin: 0;
    margin-top: 20px;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    justify-content: flex-start;
}

li {
    width: 100%;
    margin: 10px;
}

div.footer {
    width: 100%;
    margin: 0;
    min-height: 15px;
    background: var(--main-color);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

div.footer p {
    width: 100%;
    color: white;
    padding: 0px 20px;
    font-size: 18px;
    margin: 1px;
}

div.footer h6 {
    width: 100%;
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 20px;
}

footer {
    display: none;
}

hr {
    border: 1px solid var(--second-color);
    margin: 10px 0;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 250px;
    margin: 30px 0;
}

.buttons .button-section {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.buttons a {
    width: 170px;
    height: 170px;
    border: 5px solid var(--main-color);
    border-radius: 50%;
    position: relative;
    margin: 30px;
    background-position: center !important;
}

.buttons a:hover {
    border: 7px solid var(--main-color-hover);
    transition: all 0.1s;
}

.buttons a p {
    position: absolute;
    width: calc(100% + 40px);
    bottom: -50px;
    left: -20px;
    text-align: center;
    font-size: 25px;
    height: auto;
}

.buttons a#volunteer p {
    bottom: -70px;
}

.buttons a#donate {
    background: url("/img/heart.png");
    background-size: cover;
}

.buttons a#involve {
    background: url("/img/volunteer.gif");
    background-size: cover;
}

.buttons a#volunteer {
    background: url("/img/volunteer.gif");
    background-size: cover;
    margin-bottom: 60px;
}

.buttons a#about {
    background: url("/img/logo icon.jpg");
    background-size: cover;
}

.buttons a#contact {
    background: url("/img/cloud.jpg");
    background-size: cover;
}

.info {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.info.full {
    width: 100%;
}

.side {
    width: 30%;
    padding: 20px;
}

.side .quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.side .quote .text {
    width: 70%;
    height: auto;
    margin: 10px;
    margin-bottom: 2px;
    font-size: 25px;
}

.side .quote .reference {
    font-size: 23px;
    text-align: right;
}

.side .thanks {
    margin: 20px;
    font-size: 25px;
}

.selected {
    background-color: var(--main-color);
    color: white;
}

img {
    width: 100%;
    height: auto;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.form .row {
    width: 100%;
    display: flex;
}

.form .row label {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
}

.form input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.form select {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.form input[type="radio"] {
    width: 50px;
    margin: 10px 0;
    padding: 10px;
}

.form textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

#alert {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: rgb(32, 32, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styles for screens under 1000px wide */
@media only screen and (max-width: 1000px) {
    main {
        margin-top: 100px;
    }

    main.nav-open {
        height: 0;
    }

    main #nav-button {
        display: flex;
        position: absolute;
        right: 3px;
        top: 3px;
        font-family: sans-serif;
        width: 40px;
        height: 40px;
        padding: 10px;
    }
    
    div.footer {
        width: 98%;
    }

    .info {
        width: 100%;
    }

    .side {
        width: 100%;
        border-left: none;
        border-top: 1px solid var(--second-color);
    }

    .buttons {
        align-items: flex-start;
        min-height: 150px;
        gap: 20px;
    }

    .buttons a {
        width: 100px;
        height: 100px;
    }

    .buttons a#volunteer p {
        bottom: -80px;
    }

    div.national ul {
        display: none;
    }

    nav {
        height: 100px;
        z-index: 1;
        flex-wrap: wrap;
        align-content: flex-start;
        position: absolute !important;
        top: 55px;
        left: 0;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 10px;
    }

    nav ul a {
        margin: 1px;
        margin-right: 10px;
        margin-left: 0;
        border-radius: 0 5px 5px 0;
    }

    nav #donate {
        width: 50%;
    }

    nav a {
        height: auto;
        width: 100%;
        object-position: center;
        max-height: 100px;
    }

    nav.mobile-full {
        height: calc(100vh - 55px);
        position: absolute;
    }

    nav #close-nav {
        display: none;
        position: absolute;
        right: 10px;
        bottom: 60px;
        font-family: sans-serif;
        width: 40px;
        height: 40px;
        padding: 10px;
        z-index: 1;
    }

    nav.mobile-full #close-nav {
        display: flex;
    }

    img.hero {
        background: white;
        min-height: 200px;
        object-fit: cover;
    }

    header {
        height: 80px;
    }
}