:root {
    --main-color: rgb(64, 130, 228);
    --main-color-hover: rgb(74, 136, 230);
    --second-color: #ffffff;
    --second-color-hover: #e2e2e2;
    --shadow-color: rgba(0,0,0,0.55);
    --shadow: 1px 5px 14px 1px var(--shadow-color);
    --max-main-width: 1000px;
    --border-radius: 10px;
    --button-scale: scale(1.01);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* elements */
main {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    background: white;
    padding: 0;
    position: relative;
    justify-content: center;
    overflow: hidden;
    min-height: 90vh;
}

body {
    margin: 0;
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

img {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 130px;
    text-align: center;
    background: white;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-direction: column;
    min-height: 20px;
    align-content: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

section p {
    width: 100%;
    max-width: var(--max-main-width);
    padding: 10px;
}

button {
    width: auto;
    height: auto;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    display: flex;
    justify-content: center;
}

i {
    padding-top: 1px;
}

button:hover {
    background: var(--main-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

h2 {
    width: 100%;
    max-width: var(--max-main-width);
    font-size: 80px;
    margin: 5px 0;
    margin-top: 40px;
    text-align: center;
}

h3 {
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

h4 {
    text-align: center;
    width: 100%;
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
}

h5 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}

p {
    width: 100%;
    font-size: 20px;
    margin: 5px 0;
    padding: 5px;
}

a {
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    justify-content: flex-start;
}

li {
    width: 100%;
    margin: 10px;
}

footer {
    display: none;
}

hr {
    border: 1px solid var(--main-color-hover);
    margin: 10px 0;
    width: 100%;
}

main>h2 {
    width: 100%;
    margin: 0;
    text-align: left;
    background: var(--main-color);
    color: white;
    max-width: 100%;
    padding: 60px;
}

/* national bar */
div.national {
    width: 100%;
    height: 55px;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
}

div.national .logo-items {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin-left: 10px;
}

div.national .logo-items p {
    font-size: 16px;
}

div.national .logo-items a {
    font-weight: bold;
    font-size: 16px;
}

.logo-items img {
    height: 30%;
    width: auto;
    margin: 5px;
    margin-left: 15px;
}

div.national ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: auto;
    height: 100%;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
}

div.national ul a {
    margin: 5px;
    margin-right: 30px;
    font-size: 16px;
}

div.national a {
    text-decoration: none;
    color: #f2f2f2;
}

/* nav bar */
nav {
    width: 100%;
    height: 80px;
    background-color: var(--second-color);
    padding: 0;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

nav #close-nav {
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: auto;
    height: 100%;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
}

nav ul a {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: 1px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

nav a {
    text-decoration: none;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-align: center;
}

nav a:hover {
    background-color: var(--second-color-hover);
    color: var(--main-color);
}

nav .nav-header {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    margin-left: 15px;
}

nav .nav-header:hover {
    background: none;
    transform: var(--button-scale);
}

nav #donate {
    background: var(--main-color);
    color: white;
    border-radius: var(--border-radius);
    margin: 15px;
    height: 50px;
    padding: 5px;
}

nav #donate:hover {
    background: var(--main-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

nav #donate img {
    height: 70%;
    width: auto;
    padding-left: 5px;
}

nav #donate p {
    padding: 5px;
}

nav a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav a p {
    padding: 20px;
}

/* globals */
#alert {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: rgb(32, 32, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey {
    background: #f2f2f2;
}

.raised {
    z-index: 1;
}

.bottom-bumper {
    margin-bottom: 40px !important;
}

.invisible {
    display: none !important;
}

.half {
    width: 50% !important;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
}

.column {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
}

.bottom-button {
    width: 90%;
    position: absolute;
    bottom: -45px;
    left: 5%;
    padding: 10px 20px !important;
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
    z-index: -1;
    text-align: center;
}

.card-list {
    display: flex;
    align-content: center;
    padding: 20px 50px;
    padding-left: calc((100% - var(--max-main-width)) / 4);
    flex-wrap: nowrap;
    height: 600px;
    width: 100%;
    overflow-y: visible;
    overflow-x: auto;
    gap: 20px;
    align-items: center;
}

.card-grid {
    display: flex;
    align-content: center;
    padding-left: calc((100% - var(--max-main-width)) / 4);
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    gap: 20px;
    align-items: center;
    padding: 20px;
    align-items: flex-start;
}

.card-grid .card:nth-child(even) {
    background: rgb(241, 247, 255);
}

.reverse-card-list {
    display: flex;
    align-content: flex-end;
    padding-right: calc((100% - var(--max-main-width)) / 2);
    flex-direction: column-reverse;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: auto;
    height: 600px;
}

.card {
    width: 400px;
    height: auto;
    max-height: 500px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 0;
    flex-shrink: 0;
    position: relative;
}

.long.card {
    width: 530px;
    height: 400px;
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6 {
    margin-top: 0;
}

.card p {
    padding: 0;
}

main #nav-button {
    display: none;
}

a.external {
    text-decoration: none;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 20px 30px;
    margin: 5px;
    box-shadow: var(--shadow);
}

a.external:hover {
    background: var(--main-color-hover);
    transition: all 0.1s;
    transform: scale(1.01);
}

div.footer {
    width: 100%;
    margin: 0;
    min-height: 15px;
    background: var(--main-color);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

div.footer p {
    width: 100%;
    color: white;
    padding: 0px 20px;
    font-size: 18px;
    margin: 1px;
}

div.footer h6 {
    width: 100%;
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 20px;
}

.selected {
    background-color: var(--main-color);
    color: white;
}

.form {
    width: 100%;
    max-width: var(--max-main-width);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.form .row label {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
}

.form input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.form select {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.form input[type="radio"] {
    width: 50px;
    margin: 10px 0;
    padding: 10px;
}

.form textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

.bar {
    width: calc(var(--max-main-width) + ((100% - var(--max-main-width)) / 2) + 5%);
    max-width: 100%;
    height: 75px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
}

.from-left {
    margin-left: calc((100% - var(--max-main-width)) / -2 - 20px);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding-right: 5%;
    justify-content: flex-end;
}

.from-right {
    margin-right: calc((100% - var(--max-main-width)) / -2 - 20px);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    padding-left: 5%;
    justify-content: flex-start;
}

.central-info {
    padding: 40px 15px;
}

.hero {
    padding: 0;
}

.fade {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
    flex-direction: column;
    min-height: 20px;
    align-content: center;
    background: rgba(1, 1, 107, 0.452);
}

section img.side {
    width: 50%;
    height: 500px;
    min-height: 50vh;
    padding: 0;
    object-fit: cover;
    order: 0;
    object-position: center;
}

section img.side.left {
    border-top-left-radius: 0 0;
    border-top-right-radius: 50% 100%;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
}

section img.side.right {
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 0 0;
    order: 99;
}

.cross-bg {
    background: url("/img/cross-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 0;
}

/* old sections */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 250px;
    margin: 30px 0;
}

.buttons .button-section {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.buttons a {
    width: 170px;
    height: 170px;
    border: 5px solid var(--main-color);
    border-radius: 50%;
    position: relative;
    margin: 30px;
    background-position: center !important;
}

.buttons a:hover {
    border: 7px solid var(--main-color-hover);
    transition: all 0.1s;
}

.buttons a p {
    position: absolute;
    width: calc(100% + 40px);
    bottom: -50px;
    left: -20px;
    text-align: center;
    font-size: 25px;
    height: auto;
}

.buttons a#volunteer p {
    bottom: -70px;
}

.buttons a#donate {
    background: url("/img/heart.png");
    background-size: cover;
}

.buttons a#involve {
    background: url("/img/volunteer.gif");
    background-size: cover;
}

.buttons a#volunteer {
    background: url("/img/volunteer.gif");
    background-size: cover;
    margin-bottom: 60px;
}

.buttons a#about {
    background: url("/img/logo icon.jpg");
    background-size: cover;
}

.buttons a#contact {
    background: url("/img/cloud.jpg");
    background-size: cover;
}

a.link-button {
    text-decoration: none;
}

.info {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.info.full {
    width: 100%;
}

/* styles for screens under 1000px wide */
@media only screen and (max-width: 1000px) {
    main {
        margin-top: 100px;
    }

    main.nav-open {
        height: 0;
        min-height: 0;
    }

    main #nav-button {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        font-family: sans-serif;
        height: 40px;
        padding: 10px;
        margin: 0;
        width: 100%;
        justify-content: space-between;
        border-radius: 0;
    }

    .info {
        width: 100%;
    }

    .side {
        width: 100%;
        border-left: none;
        border-top: 1px solid var(--second-color);
    }

    .buttons {
        align-items: flex-start;
        min-height: 150px;
        gap: 20px;
    }

    .buttons a {
        width: 100px;
        height: 100px;
    }

    .buttons a#volunteer p {
        bottom: -80px;
    }

    div.national ul {
        display: none;
    }

    nav {
        height: 100px;
        z-index: 1;
        flex-wrap: wrap;
        align-content: flex-start;
        position: absolute !important;
        top: 55px;
        left: 0;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 10px;
    }

    nav ul a {
        margin: 1px;
        margin-right: 10px;
        margin-left: 0;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    nav #donate {
        width: 50%;
    }

    nav a {
        height: auto;
        width: 100%;
        object-position: center;
        max-height: 100px;
        margin-left: 0 !important;
    }

    nav.mobile-full {
        height: calc(100vh - 55px);
        position: absolute;
    }

    nav #close-nav {
        display: none;
        position: absolute;
        right: 10px;
        bottom: 60px;
        font-family: sans-serif;
        width: 40px;
        height: 40px;
        padding: 10px;
        z-index: 1;
    }

    nav.mobile-full #close-nav {
        display: flex;
    }

    .fade {
        padding-top: 80px;
    }

    header {
        height: 80px;
    }

    .row {
        flex-wrap: wrap;
    }

    .hero h2 {
        font-size: 45px;
    }

    .central-info {
        padding: 20px;
    }

    .from-left {
        margin-left: -20px;
    }

    .from-right {
        margin-right: -20px;
    }

    section img.side {
        width: 100%;
        border-radius: 0 !important;
        min-height: 20vh;
        height: 25vh;
    }

    .card-list {
        padding: 20px 5px;
        flex-direction: column;
        height: auto;
        align-content: center;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: center;
    }
    
    .reverse-card-list {
        padding-right: 5px;
        flex-direction: column;
        height: auto;
        align-content: center;
    }

    .card {
        max-width: 100%;
    }

    .long.card {
        width: 100%;
        height: auto;
        aspect-ratio: 106 / 80;
        max-height: initial;
    }

    .half {
        width: 100% !important;
    }

    section img.side.right {
        order: 0;
    }
}