<style>
    <%- include('index.css') %>
</style>


<div class="hero">
    <h2>Garage Sale: One Day Only!</h2>

    <h3>783 SW Pacific Ave Chehalis</h3>

    <p>Below are some photos of what is available.</p>

    <h3><em>Thank you for your support of Love INC of Lewis County!</em></h3>
</div>

<div class="details">
    <img class="detail" src="/img/garage-sale/05-24/drawers-1.jpg" alt="Drawers 1">
    <img class="detail" src="/img/garage-sale/05-24/drawers-2.jpg" alt="Drawers 2">
    <img class="detail" src="/img/garage-sale/05-24/drawers-3.jpg" alt="Drawers 3">
    <img class="detail" src="/img/garage-sale/05-24/lamps.jpg" alt="Lamps">
    <img class="detail" src="/img/garage-sale/05-24/seat-1.jpg" alt="Seat 1">
    <img class="detail" src="/img/garage-sale/05-24/seat-2.jpg" alt="Seat 2">
    <img class="detail" src="/img/garage-sale/05-24/seat-3.jpg" alt="Seat 3">
</div>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator({});
</script>