<style>
    <%- include('index.css') %>
</style>

<img class="souper" src="/img/souper-poster.jpg" alt="Super Souper Supper Poster">

<div class="details">
    <img class="detail" src="/img/souper/1.jpg" alt="Souper Event Details">

    <div class="half-box">
        <h2>Super Souper Supper Benefit Event 2024</h2>
    
        <h4>This event has finished.</h4>
    
        <h3><em>Thank you for your support of Love INC of Lewis County!</em></h3>
    </div>
</div>

<div class="details">
    <img class="detail" src="/img/souper/desserts.png" alt="Dessert Dash">
    <img class="detail" src="/img/souper/live-auction.png" alt="Live Auction Items">
</div>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator({});
</script>