<img src="/img/souper-poster.jpg" alt="Super Souper Supper Poster">

<h2>Super Souper Supper Benefit Event</h2>

<div class="silent-auction">
    <h3>Items for Silent Auction</h3>
    <ul>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
    </ul>
</div>

<div class="live-auction"> 
    <h3>Items for Live Auction</h3>
    <ul>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
    </ul>
</div>

<div class="raffle">
    <h3>Raffle Prizes</h3>
    <ul>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
    </ul>
</div>

<div class="desserts">
    <h3>Desserts</h3>
    <ul>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
    </ul>
</div>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator({
        hero: true
    });
</script>