<style>
    <%- include('index.css') %>
</style>

<img class="souper" src="/img/souper-poster.jpg" alt="Super Souper Supper Poster">

<div class="details">
    <img class="detail" src="/img/souper/1.jpg" alt="Souper Event Details">

    <div class="half-box">
        <h2>Super Souper Supper Benefit Event 2024</h2>
    
        <h4>Reserve your Tickets:</h4>
    
        <p>
            <u>Tickets are $15 each.</u> The link below will take you to our donation page where you can reserve your tickets.
            <strong>
                Please donate exactly <u>$15 per ticket,</u> so we know your donation is for the Super Souper Supper benefit event.
            </strong>
            For example: If you want to <u>reserve 2 tickets, donate exactly $30.</u> 
        </p>
    
        <a class="external" href="https://loveinclewiscounty.maxgiving.com/">Reserve Tickets Here</a>
    
        <h3><em>Thank you for your support of Love INC of Lewis County. See you there!</em></h3>
    </div>
</div>

<div class="details">
    <img class="detail" src="/img/souper/4.jpg" alt="Git Er Done Silent Auction Items">
    <img class="detail" src="/img/souper/3.jpg" alt="Me Time Silent Auction Items">
    <img class="detail" src="/img/souper/2.jpg" alt="Tame the Hangries Raffle Items">
    <img class="detail" src="/img/souper/5.jpg" alt="Live Auction ITems">
</div>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator({});
</script>