<img src="/img/souper-poster.jpg" alt="Super Souper Supper Poster">

<h2>Super Souper Supper Benefit Event</h2>

<h4>Reserve your Tickets:</h4>

<p>
    Thank you for your support of Love INC of Lewis County!
    Tickets are $15 each. The link below will take you to our donation page where you can reserve your tickets.
</p>

<p>
    <strong>
        Please donate exactly $15 per ticket, so we know your donation is for the Super Souper Supper benefit event.
    </strong>
    For example: If you want to reserve 2 tickets, donate exactly $30. 
</p>
<a class="external" href="https://loveinclewiscounty.maxgiving.com/">Reserve Tickets Here</a>

<!-- <div class="silent-auction">
    <h3>Items for Silent Auction</h3>
    <ul>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
    </ul>
</div>

<div class="live-auction"> 
    <h3>Items for Live Auction</h3>
    <ul>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
    </ul>
</div>

<div class="raffle">
    <h3>Raffle Prizes</h3>
    <ul>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
    </ul>
</div>

<div class="desserts">
    <h3>Desserts</h3>
    <ul>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
        <li>Example Item</li>
    </ul>
</div> -->

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator({});
</script>