<h2>Question?</h2>

<p>
    We want to make sure you receive our updates on 
    what's happening with Love INC... such as fun events we may have 
    coming up and how you could to get involved.
</p>

<p>Please let us know how best to contact you -- is email the best way?</p>

<p>Please contact us at 360-748-8611 -- Thanks and we can't wait to meet you.</p>

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>