<section class="info full">
    <h2>About Us</h2>
    <hr>
    <h3>Mission</h3>
    <p>
        The mission of <strong>Love in the Name of Christ 
        of Lewis County</strong> is to mobilize local churches to transform lives and communities in the Name of Christ.
    </p>
    <p>
        Help for today and Hope for tomorrow. We want to help transform lives from the inside out.
    </p>

    <h3>Serving with Smiles!</h3>
    <p>
        We are always looking for volunteers to work in various capacities throughout our organization. If you are interested 
        in learning more, please give us a call at (360) 748-8611. 
    </p>
    <p>
        It is such a joy to serve our community and our neighbors in need. Through the partnership with our local church affiliates, 
        <strong>Love in the Name of Christ</strong> is able to serve many needs and provide many referrals to our clients.
    </p>
</section>

<section>
    <h3>Donation, Credit Card, and Website Terms and Conditions</h3>
    <p>
        Love in the Name of Christ of Lewis County is a registered 501(c)3 nonprofit organization.   
        All donations are tax deductible in full or in part.
    </p>
    <h5>Donating to Love INC</h5>
    <p>
        Love in the Name of Christ of Lewis County is a 501(c)(3) organization, contributions to which are tax deductible to the extent permitted 
        by law.   Financial or other information is available from the Corporations Division, Office of the Secretary of State, P.O. 
        Box 40234, Olympia, WA 98504-0234 or by calling 1.800.332.4483 (within state) or 1.360.725.0378.
    </p>
    <h5>Refund Policy</h5>
    <p>Donations to Love In the Name of Christ of Lewis County are not refundable.</p>
    <h5>Terms and Conditions</h5>
    <p>
        Applicable Law and Venue. These Site Terms and your use of the Site shall be governed by and construed in 
        accordance with the laws of the State of Washington, applicable to agreements made and entirely performed within 
        the State of Washington, without resort to its conflict of law provisions. You agree that any action at law or in 
        equity arising out of or relating to these Site Terms shall be filed only in the state and federal courts located in 
        Lewis County, Washington, and you hereby irrevocably and unconditionally consent and submit to the exclusive 
        jurisdiction of such courts over any suit, action or proceeding arising out of these Site Terms.
    </p>
    <p>
        Termination. Notwithstanding any of these Site Terms, Love in the Name of Christ of Lewis County reserves the right, 
        without notice and in its sole discretion, to terminate your license to use the Site, and to block or prevent your 
        future access to and use of the Site.
    </p>
    <p>
        Severability. If any provision of these Site Terms shall be deemed unlawful, void or for any reason unenforceable, 
        then that provision shall be deemed severable from these Site Terms and shall not affect the validity and 
        enforceability of any remaining provisions.
    </p>
</section>

<section>
    <h3>Our Services</h3>
    <p>
        When a request for help comes to Love INC, the need is assessed to determine it's nature and legitimacy.  
        The need is either handled at the Love INC offices or matched with a resource from a local church or professional.  
        Love INC's emphasis is on person-to-person assistance.
    </p>
    <p>
        Please note that requests can take up to two weeks from start (intake call-request) to completion. All calls are 
        taken in order of when the call was received. Duplicate calls hinder the response time. Thank you for your patience.
    </p>

    <ul>
        <h5>Some of the services we are able to provide are:</h5>
        <li>Furniture and Bedding</li>
        <li>Prayer</li>
        <li>Firewood</li>
        <li>Prayer</li>
        <li>Gas, Laundry and Grocery Vouchers</li>
        <li>Prayer</li>
        <li>Toiletries and Personal Care Items</li>
        <li>Prayer</li>
        <li>Financial Assistance with Rent, Utilities (usually Community Action Center has completed their portion, if any).</li>
        <li>Prayer</li>
        <li>SEASONAL - Minor Yard and Home repairs (if/when a Handyman/woman Volunteer has joined Love INC).</li>
        <li>Prayer</li>
        <li>Assistance in Finding a Church</li>
        <li>Prayer</li>
        <li>Referrals to ministries and organizations for housing, shelter, medical and mental health, family services and much more!</li>
        <li>Prayer</li>
        <li>Unique Requests</li>
        <li>Prayer</li>
        <li>And... Prayer</li>
    </ul>
</section>


<!-- Values -->
<!-- <section>
    <h3>CORE VALUES</h3>
    <div class="values">
        <div class="value">
            <img src="" alt="">
            <h4>Christian</h4>
            <p>
                Everything we think, say and do is in the Name of Christ.
            </p>
        </div>
        <div class="value">
            <img src="" alt="">
            <h4>Prayer</h4>
            <p>
                Prayer is an integral part of who we are.
            </p>
        </div>
        <div class="value">
            <img src="" alt="">
            <h4>People In Need</h4>
            <p>
                We follow Christ’s example of valuing people in need.
            </p>
        </div>
        <div class="value">
            <img src="" alt="">
            <h4>Excellence</h4>
            <p>
                We model excellence.
            </p>
        </div>
        <div class="value">
            <img src="" alt="">
            <h4>Unity</h4>
            <p>
                We value unity within the body of Christ.
            </p>
        </div>
        <div class="value">
            <img src="" alt="">
            <h4>Relationships</h4>
            <p>
                We value building Christ-like relationships.
            </p>
        </div>
        <div class="value">
            <img src="" alt="">
            <h4>Connectedness</h4>
            <p>
                We value the connectedness of the Love INC movement.
            </p>
        </div>
        <div class="value">
            <img src="" alt="">
            <h4>Transformation</h4>
            <p>
                We value transformation in the lives of people and communities.
            </p>
        </div> 
        <div class="value">
            <img src="" alt="">
            <h4>Maturing</h4>
            <p>
                We value continually maturing in our capacity to meet people’s needs.
            </p>
        </div>
        <div class="value">
            <img src="" alt="">
            <h4>Churches</h4>
            <p>
                We value churches living out the two great commandments to love God and love their neighbors.
            </p>
        </div>
    </div>
</section> -->

<script src="/js/themeApplicator.js"></script>
<script>
    const themeApplicator = new ThemeApplicator();
</script>